<!--also need to watch model in directive controller coz model might be null at the moment-->
<div class="form-group" 
     ng-init="inputname = input.column || inputname;"
     ng-class="{'has-error': errors[inputname][0]}"
     >
  <label class="control-label col-md-2">{{input.title}}</label>
  <div class="col-md-9">
    <input ng-if="input.type === 'text'" ng-model="model[inputname]" ng-value="input.default" type="text" class="form-control">
    <textarea ng-if="input.type === 'textarea'" ng-model="model[inputname]" type="text" class="form-control">{{input.default}}</textarea>
    <select ng-if="input.type === 'select'" ng-options="opt.id as opt.text for opt in input.options" ng-model="model[inputname]" class="form-control"></select>
    <div ng-if="input.type === 'file'">
      <div ngf-select class="btn btn-default" ng-model="model[inputname + '_fileobj']" 
           ngf-pattern="'image/*'" accept="image/*" ngf-max-size="1MB">Select</div>
      <br>
      <div ng-if="input.type === 'file' && (model[inputname + '_fileobj'] || model[inputname + '_for_display'])" class="form-control img-preview">
        <img ng-show="model[inputname + '_fileobj']" ngf-thumbnail="model[inputname + '_fileobj']">
        <img ng-show="!model[inputname + '_fileobj'] && model[inputname + '_for_display']" ngf-thumbnail="model[inputname + '_for_display']">
      </div>
    </div>

    <div ng-show="errors[inputname][0]" class="help-block">{{errors[inputname][0]}}</div>
  </div>
</div>
